<!DOCTYPE html>
<html lang="en">
<head>
	<!-- templatemo 419 black white -->
    <!--
    Black White
    http://www.templatemo.com/preview/templatemo_419_black_white
    -->
	<title>Object Detection</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>

      var lat;
      var long;

       function getLocation() {
           navigator.geolocation.getCurrentPosition(showPosition);
        }

        function showPosition(position) {
          lat=(position.coords.latitude);
          long=(position.coords.longitude);
          {#alert(lat)#}
          var xhr = new XMLHttpRequest();
            var params = 'lat=' + lat + '&long=' + long;
            xhr.open('POST', 'geolocation/', true);
            {#alert(params)#}
            //Send the proper header information along with the request
            xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            xhr.onload = function () {//Call a function when the state changes.
                if (xhr.status == 200) {
                    {#var instance = JSON.parse(response["address"]);#}
                    var result = xhr.responseText;
                    var json = eval("(" + result + ")");
                    {#alert(json.gps)#}
                    document.getElementById('addressGet').innerHTML = json.address;
                    document.getElementById('gpsGet').innerHTML = json.gps;
                }
            }
            {#var fd = new FormData();#}
            {#fd.append("lat", lat);#}
            {#fd.append("long", long);#}
            xhr.send(params);
        }
    </script>


</head>
<body>
<div class="jumbotron text-center">
  <h1>Smart Window</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <p>
            <img src="{% url 'video-feed-1' %}" alt="">
        </p>
        </div>
        <div class="col-sm-3"></div>

    </div>
   <div class="row" >
{#        <a href="http://127.0.0.1:8000/geolocation">Geolocation</a>#}
       <div class="col">
           <button class="btn" onclick="getLocation()">Current Location</button>
       </div>
        <div id="addressGet">

        </div>
        <div id="gpsGet">

        </div>

    </div>
</div>





</body>
</html>
